<div>

<mat-form-field floatLabel='never'>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="titre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell *matCellDef="let row"> <a class="ellipsis" routerLink="/fullView/{{ row.id }}">{{ row.titre }}</a> </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="publicationDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.publicationDate  | date:'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Source </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.source}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>