<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #articleForm="ngForm">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" [(ngModel)]="article.titre" 
          class="form-control"
          id="titre"
          name="titre"
          placeholder="Article Title"
          required #titre="ngModel">
      </div>
      <div class="form-group">
        <label for="corps">Corps</label>
        <input type="text" [(ngModel)]="article.corps" 
          class="form-control"
          id="corps"
          name="corps"
          placeholder="Article content"
          required #corps="ngModel">
      </div>
	  <div class="form-group">
  <label for="source">Source </label>
  <select [(ngModel)]="article.source" name="source" class="form-control">
    <option *ngFor="let source of sources" value={{source}}>
      {{source}}
    </option>
  </select>
  </div>
  	  <div class="form-group">
  <label for="source">Edition </label>
    <select [(ngModel)]="article.edition" name="edition" class="form-control">
    <option *ngFor="let edition of editions" value={{edition}}>
      {{edition}}
    </option>
  </select>
  </div>
  	  <div class="form-group">
  <label for="source">Département </label>
    <select [(ngModel)]="article.departements" name="departements" class="form-control">
    <option *ngFor="let departement of departements" value={{departement}}>
      {{departement}}
    </option>
  </select>	  
  </div>
  <div class="form-group">
  
  <label for="source">Région </label>
    <select [(ngModel)]="article.regions" name="regions" class="form-control">
    <option *ngFor="let region of regions" value={{region}}>
      {{region}}
    </option>
  </select>
</div>
  <div class="form-group">
  
  <label for="source">Secteur </label>
    <select [(ngModel)]="article.secteurs" name="secteurs" class="form-control">
    <option *ngFor="let secteur of secteurs" value={{secteur}}>
      {{secteur}}
    </option>
  </select>
</div>
  <div class="form-group">
  
  <label for="source">Thême </label>
    <select [(ngModel)]="article.themes" name="themes" class="form-control">
    <option *ngFor="let theme of themes" value={{theme}}>
      {{theme}}
    </option>
  </select>
</div>
      <button type="submit" [disabled]="!articleForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>